*.qmd linguist-language=RMarkdown
*.md linguist-documentation
*.Rmd linguist-detectable
*.rmd linguist-detectable
*.qmd linguist-detectable
*.sql linguist-detectable

docs/** linguist-generated

_extensions/** linguist-vendored
_freeze/** linguist_vendored
